
<span us-spinner spinner-key="spinner-1"></span>
<div class="col-sm-12">
  <h1>Hierarchical Dirichlet Process topic modeling</h1>
  <p><a href="https://en.wikipedia.org/wiki/Hierarchical_Dirichlet_process" target="_blank">https://en.wikipedia.org/wiki/Hierarchical_Dirichlet_process</a> </p>
  <p>This module encapsulates functionality for the online Hierarchical Dirichlet Process algorithm. It allows both model estimation from a training corpus and inference of topic distribution on new, unseen documents.The core estimation code is directly adapted from the onlinelhdp.py script by C. Wang see Wang, Paisley, Blei: Online Variational Inference for the Hierarchical Dirichlet Process, JMLR (2011).
<a href="http://jmlr.csail.mit.edu/proceedings/papers/v15/wang11a/wang11a.pdf">http://jmlr.csail.mit.edu/proceedings/papers/v15/wang11a/wang11a.pdf</a></p>
</div>
<div class="col-sm-3">
  <!--CORPUS COLLECTION PICKER-->
  <div class="row">
    <h3>Add collections to the topic modeling data set</h3>
    <select ng-model="selectedCorpusCollection"
              ng-options="collection.title for collection in collections">
      </select>
  </div>
  <div class="row">
    <button class="btn btn-lg btn-info" ng-click="addCorpusCollection(selectedCorpusCollection)">Add Collection</button>
  </div>
  <!--CORPUS COLLECTIONS ADDED LIST-->
  <div class="row">
    <h3>Collections To Model</h3>
    <div class="collection-box">

      <table class="table table-hover">
       <thead>
       <th>Title</th>
       <th>Filter</th>
       <th>Remove</th>
       </thead>
        <tbody>

          <tr ng-repeat="col in collectionsToModel">
            <td>
              {{col.title}}
            </td>
            <td>
              {{col.filter.name}}<span class="glyphicon glyphicon-pencil" ng-click="editFilter(col)"></span>
            </td>
            <td>
              <span class="glyphicon glyphicon-remove" ng-click="removeCorpusCollection(col)"></span>
            </td>
          </tr>


        <tr>

        </tr>
        <tr>

        </tr>
        </tbody>

      </table>


    </div>
</div>
</div>

<div class="col-sm-4">
  <h2>Modeling Options</h2>
  <formly-form model="topicModelingData" fields="topicModelingFormFields" form="topicModelingForm">
    <button class="btn btn-lg btn-info" ng-disabled="topicModelingForm.$invalid" ng-click="modelTopics()">Model Topics</button>
  </formly-form>



</div>

<div class="col-sm-4">

</div>
