<div class="container">
  <!--BEGIN TEXT UPLOAD CONTAINER-->
<div class="col-sm-6">
  <textupload></textupload>

</div>
<!--END TEXT UPLOAD CONTAINER-->

<!--BEGIN LOCKED COLLECTION UPLOAD CONTAINER-->


<!--END LOCKED COLLECTION UPLOAD CONTAINER-->

<!--BEGIN CORPUS LIST CONTAINER-->
<div class="col-sm-6">
  <h3>Processed</h3>
  <corpuslist items="proccessedItems" show-processing="false"></corpuslist>
  <h3>Still Processing</h3>
  <corpuslist items="proccessedItems" show-processing="true"></corpuslist>
</div>
<!--END CORPUS LIST CONTAINER-->
</div>
