
<!--RESULTS LISTING-->
<div class="col-sm-3">
  <h2>Click on a topic to view results</h2>
  <div ng-repeat="topicGroup in topics" >
    <div class="topic-box" ng-click="viewTopic(topicGroup)" ng-class="{selected: topicGroup === selectedTopicGroup}">
    <p>Creat On: {{ topicGroup.created | date}}</p>
    <p>Collections: <span ng-repeat="col in topicGroup.collections">{{col.title}} </span></p>
    <p>Topic Count: {{topicGroup.topics.length}}</p>
    </div>
  </div>
</div>
<!--END RESULTS LISTING-->

<!--RESULTS CONTENT-->
<div class="col-sm-9">
  <h2>Topic Modeling Results</h2>
  <div class="row topic-box" ng-repeat="topic in selectedTopicGroup.topics">
    <span ng-repeat="wordPair in topic.tuples">{{wordPair.word}}--({{wordPair.weight | limitTo: 6}})  </span>
  </div>

</div>
<!--END RESULTS CONTENT-->
